<form action="/new" method="post">
  <label for="new_document">Add a new document:</label>
  <div>
    <input type="text" name="new_document">
    <button type="submit">Create</button>
  </div>
</form>
