body {
  font-family: sans-serif;
  margin: 2% 5%;
}

li {
  list-style: circle;
}

.message {
  background-color: #f7f585;
  margin: 5px 0;
  padding: 10px;
}

.history {
  font-size: 0.9em;
  padding-left: 1em;
}
